<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.community.test.mapper.QuestionMapper">

    <insert id="create" parameterType="question">
        insert into QUESTION (title, description, gmt_create, gmt_modify, creater, tag) values (#{title},#{description},#{gmt_create},
        #{gmt_modify},#{creater},#{tag})
    </insert>

    <select id="getAll" resultType="question">
        select * from QUESTION
    </select>

    <select id="getMyQuestion" resultType="question" parameterType="int">
        select * from QUESTION where CREATER=#{userId}
    </select>

    <select id="getById" parameterType="int" resultType="question">
        select * from QUESTION where ID=#{id}
    </select>

    <update id="update" parameterType="question">
        update QUESTION set TITLE=#{title},DESCRIPTION=#{description},GMT_MODIFY=#{gmt_modify},TAG=#{tag} where ID=#{id}
    </update>
</mapper>