<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.community.test.mapper.UserMapper">
    <insert id="insertUser" parameterType="user">
        insert into USER(USERNAME,ACCOUNT_ID,TOKEN,GMT_CREATE,GMT_MODIFIED,AVATOR_URL) values (#{username},#{account_id},#{token},#{gmt_create},#{gmt_modified},#{avator_url});
    </insert>

    <select id="findByToken" parameterType="String" resultType="user">
        select * from USER where TOKEN=#{token}
    </select>

    <select id="findById" resultType="user" parameterType="int">
        select * from USER where ID=#{id}
    </select>

    <select id="findByAccountId" resultType="user" parameterType="String">
        select * from USER where ACCOUNT_ID=#{account_id}
    </select>

    <update id="updateUser" parameterType="user">
        update USER set USERNAME=#{username},TOKEN=#{token},GMT_MODIFIED=#{gmt_modified},AVATOR_URL=#{avator_url} where ID=#{id}
    </update>
</mapper>